.btn-block {
  display: inline-block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.modal-btn-first {
  background-color: rgb(147, 4, 4);
}
.modal-btn-second {
  background-color: rgb(5, 5, 129);
}

.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  top: -85px;
  right: -350px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 11px;
    left: -5px;
    width: 33px;
    height: 2px;
    background: rgb(59, 59, 59);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
