.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: fixed;
  width: 400px;
  height: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 7px;
  color: white;
  font-weight: 700;
}

.modal-first {
  background-color: red;
}
.modal-second {
  background-color: blue;
}
